* {
  box-sizing: border-box;
}

body {
  position: absolute;
}

header {
  background-color: #CF2B2B;
  width: 100%;
  position: fixed;
  box-shadow: 0px 5px 5px #00000040;

}

header h1 {
  font-family: righteous;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 44px;
  line-height: 54.63px;
  letter-spacing: -1.2%;
}

header h2 {
  font-family: roboto;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.09px;

}

#header-logo {
  padding: 8px 0px 18px 21px;
}

main {
  margin-top: 123px;
  margin-left: 19px;
}

main h1 {
  color: #333333;
  font-size: 26px;
  font-weight: 400;
  line-height: 32.28px;
  letter-spacing: 1.8%;
  font-family: righteous;

}

.container-menu {
  display: flex;
}